

a {
  font-weight: 500;
  color: goldenrod;
  text-decoration: inherit;
}



.cards {
  max-width: 84%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center; 
}

.mycard {
  position: relative;
  width: calc(33.33% - 16px); 
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mycard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mycard-content {
  padding: 16px;
}

.mycard-content p {
  margin: 8px 0;
  font-size: 14px;
  color: #333;
}

.mycard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



.mycard-footer {
  padding: 16px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.myHeart{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  transition: color 0.3s ease;
  color: #333;
  &:hover {
    color: red;
  }
}


.myHeart.filled {
  color: red; 
}
.wishlist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 10px;
}

.wishlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px 20px;
  gap: 15px;
}

.wishlist-item .image {
  width: 150px;
  height: 100px;
  border-radius: 8px;
}
.wishlist-item .title,
.wishlist-item .price,
.wishlist-item .category {
  margin: 0;
  width: 200px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.empty{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}
.removeBtn{
  background-color: #f44336;
  
}
